@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);
.houseCard{
    border: 1px solid rgba(255, 255, 255, 0.681);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 1rem;
    font-family: "Game of Thrones";
}

.housePreTitle{
    font-family: "Game of Thrones";
    color: white;
    font-size: 0.7rem;
}

.houseTitle{
    font-family: "Game of Thrones";
    color: white;
    font-size: 1rem;
}

@media screen and (max-width:700px){
    .houseTitle{
        font-size: 0.7rem;
    }
    .housePreTitle{
        font-size: 0.5rem;
    }
}
