
.homeContainer{
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
    min-height: 100vh;
    height: fit-content;
    position: relative;
    z-index: 1;
    flex-direction: column;
    padding-bottom: 3rem;
}

.homeContainer:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent);
    z-index: 2;
}

.homeBody{
    width: 100%;
    margin-top: 6rem;
    z-index: 3;
}

.homeBackground{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.CardWrapper{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
}

@media screen and (max-width:1600px){
    .CardWrapper{
        gap: 1rem;
    }
}

.paginationWrapper{
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    font-size: 0.5rem;
    margin-top: 4rem;
}

.paginationBttns {

    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: rgba(137, 137, 137, 0.5);
  }
  
  .paginationActive a {
    color: white;
    background-color: rgba(138, 138, 138, 0.478);
    scale: 2;
  }
  
  .paginationDisabled a {
    color: rgb(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.118);
  }

  .searchBar{
      color: white;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 1rem;

  }

  .searchBarContainer{
      border: 1px solid white;
      border-radius: 10px;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1rem;
      padding: 0.5rem;
  }
  .searchBarIcon{
      color: rgb(195, 193, 181);
      cursor: pointer;
  }
  .searchField{
    color: rgb(195, 193, 181);
    height: 2rem;
    background-color: transparent;
    border: 0px;
    outline: none;
    box-shadow: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }
  .searchField:placeholder{
    color: rgb(195, 193, 181);
    font-size: 1.2rem;
  }


@media screen and (max-width:450px){
    .searchField{
        height: 1.2rem;
        width: 12rem;
    }
}

@media screen and (max-width:340px){
    .paginationWrapper{
        font-size: 0.5rem;
    }
    .paginationBttns a {
        padding: 7px;
        margin: 6px;
    }
    .searchField{

        width: 8rem;
    }
}

