@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);
.navTrans{
    background: transparent;
    height: 5em;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.navBlack{
    background: #292929;
    height: 5em;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    height: 5em;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
}

.navTitle{
    justify-self: flex-start;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: auto;
    font-family: "Game of Thrones";
    font-size: 1.5rem;
}

.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navItem{
    height: 80px;
}

.navLink{
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navLink:hover{
    scale: 1.2
}


@media screen and (max-width:300px){
    .navTitle{
        font-size: 1rem;
    }
}

